<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="anyName" verbose="1">
    <test name="anyName">
        <groups>
            <run>
                <include name="average" />
            </run>
        </groups>
    <classes>
        <class name="TestNG.TestNG1"/>
    </classes>
</test>
        </suite>